<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ProductoControlador</display-name>
    <servlet-name>ProductoControlador</servlet-name>
    <servlet-class>com.masterjava.controlador.ProductoControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductoControlador</servlet-name>
    <url-pattern>/ProductoControlador</url-pattern>
  </servlet-mapping>
  <display-name>020-PruebaAlmacen</display-name>
  <welcome-file-list>
    <welcome-file>almacenService.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AltaProductoControlador</display-name>
    <servlet-name>AltaProductoControlador</servlet-name>
    <servlet-class>com.masterjava.controlador.AltaProductoControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaProductoControlador</servlet-name>
    <url-pattern>/AltaProductoControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BajaProductoControlador</display-name>
    <servlet-name>BajaProductoControlador</servlet-name>
    <servlet-class>com.masterjava.controlador.BajaProductoControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BajaProductoControlador</servlet-name>
    <url-pattern>/BajaProductoControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarProductoControlador</display-name>
    <servlet-name>BuscarProductoControlador</servlet-name>
    <servlet-class>com.masterjava.controlador.BuscarProductoControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarProductoControlador</servlet-name>
    <url-pattern>/BuscarProductoControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarProductoControlador</display-name>
    <servlet-name>ModificarProductoControlador</servlet-name>
    <servlet-class>com.masterjava.controlador.ModificarProductoControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarProductoControlador</servlet-name>
    <url-pattern>/ModificarProductoControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductoModificadoControlador</display-name>
    <servlet-name>ProductoModificadoControlador</servlet-name>
    <servlet-class>com.masterjava.controlador.ProductoModificadoControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductoModificadoControlador</servlet-name>
    <url-pattern>/ProductoModificadoControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RealizarPedidoControlador</display-name>
    <servlet-name>RealizarPedidoControlador</servlet-name>
    <servlet-class>com.masterjava.controlador.RealizarPedidoControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RealizarPedidoControlador</servlet-name>
    <url-pattern>/RealizarPedidoControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IniciarSesionControlador</display-name>
    <servlet-name>IniciarSesionControlador</servlet-name>
    <servlet-class>com.masterjava.controlador.IniciarSesionControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarSesionControlador</servlet-name>
    <url-pattern>/IniciarSesionControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnviarPedidoControlador</display-name>
    <servlet-name>EnviarPedidoControlador</servlet-name>
    <servlet-class>com.masterjava.controlador.EnviarPedidoControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnviarPedidoControlador</servlet-name>
    <url-pattern>/EnviarPedidoControlador</url-pattern>
  </servlet-mapping>
</web-app>