<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ServletFormularioPersona</display-name>
    <servlet-name>ServletFormularioPersona</servlet-name>
    <servlet-class>com.masterjava.servlets.ServletFormularioPersona</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormularioPersona</servlet-name>
    <url-pattern>/ServletFormularioPersona</url-pattern>
  </servlet-mapping>
  <display-name>008-EjercicioMatriculacion</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CrearSesionPersona</display-name>
    <servlet-name>CrearSesionPersona</servlet-name>
    <servlet-class>com.masterjava.servlets.CrearSesionPersona</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearSesionPersona</servlet-name>
    <url-pattern>/CrearSesionPersona</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFormularioCurso</display-name>
    <servlet-name>ServletFormularioCurso</servlet-name>
    <servlet-class>com.masterjava.servlets.ServletFormularioCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormularioCurso</servlet-name>
    <url-pattern>/ServletFormularioCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SesionPersonaCrear</display-name>
    <servlet-name>SesionPersonaCrear</servlet-name>
    <servlet-class>com.masterjava.servlets.SesionPersonaCrear</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SesionPersonaCrear</servlet-name>
    <url-pattern>/SesionPersonaCrear</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SesionCursoCrear</display-name>
    <servlet-name>SesionCursoCrear</servlet-name>
    <servlet-class>com.masterjava.servlets.SesionCursoCrear</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SesionCursoCrear</servlet-name>
    <url-pattern>/SesionCursoCrear</url-pattern>
  </servlet-mapping>
</web-app>